# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# Data & Results

# Environment
.env
venv/
.venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db